# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

2.7

##### Floor Division

In [11]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [12]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [13]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [15]:
name = 'Ryan'
print(name)

Ryan

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
print("This is my first name: ", name)

This is my first name:  Ryan

##### String Concatenation

In [17]:
first_name = "John"
last_name = "Smith"

full_name = first_name + last_name
print(full_name)

JohnSmith

##### Type Conversion

In [18]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [2]:
# input will always return a string

name = input("What is your name? ")
print("Nice to meet you, " + name)

Nice to meet you, Ryan

##### format()

In [ ]:
age = input("What is your age? ")

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
color = input("What color is your car? ")
print(color)
year = int(input("What year is your car? "))
print(year)
model = input("What is the make and model of your car? ")
print(model)
car_info = color + year + model
print(car_info)

black
2016
honda accord

TypeError: can only concatenate str (not "int") to str

### If Statements

In [8]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5
num3 = 1

# if num1 == num2:
#     print('Equal values')
# else:
#     print('That is not true')

if num2 > num1:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('Equal Values')

Equal Values

##### 'is' keyword

In [6]:
num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [7]:
char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [8]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

fav_hobby = input("What is your favorite hobby? ")

if "p" in fav_hobby:
    print("p IS here")
else:
    print("p is NOT here")

## Using 'and'/'or' with If Statements

In [13]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [17]:
first_name = input("What is your first name? ")

if first_name == "Smith":
    print("The name is Smith.")
elif first_name == "Brandon":
    print("The name is Brandon.")
elif first_name != "Max":
    print("The name is NOT Max.")
else:
    print("The name is Max.")

The name is Max.

### Else Statements

In [ ]:
# see above

### For Loops

In [19]:
name = "Ryan Freelandt"
print(name)

for letter in name:
    print(letter)

Ryan Freelandt
R
y
a
n

F
r
e
e
l
a
n
d
t

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [22]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [23]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [24]:
for i in name:
    pass

##### Double For Loops

In [25]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [27]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [28]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [29]:
num = 0
while num < 5:
    print("\n While loop iteration: " + str(num))

    for i in range(2):
        print("\n For loop iteration: ", str(i))

    num += 1

 While loop iteration: 0

 For loop iteration:  0

 For loop iteration:  1

 While loop iteration: 1

 For loop iteration:  0

 For loop iteration:  1

 While loop iteration: 2

 For loop iteration:  0

 For loop iteration:  1

 While loop iteration: 3

 For loop iteration:  0

 For loop iteration:  1

 While loop iteration: 4

 For loop iteration:  0

 For loop iteration:  1

### Built-In Functions

##### range()

In [30]:
for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [31]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [33]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [34]:
print(isinstance(4.5, int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [35]:
print(abs(-5))

5

### Try and Except

In [37]:
try:
    number_test = 0
    input_num = int(input('Guess a number'))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))

except:
    print("That didn't work! Change your input to a number!")

### Lists

##### Declaring Lists

In [38]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [50]:
print(names[2])

print(names[1:])

print(names[:2])

print(names[1::2])

print(names[::-1])

Kathy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [51]:
names.append('Ryan')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Ryan']

##### .insert()

In [52]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Ryan']

##### .pop()

In [56]:
my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Ryan']


##### .remove()

In [57]:
names.remove('bob')
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Ryan']

##### del()

In [58]:
del(names[1])
print(names)

['Max', 'Devon', 'Nate', 'Ryan']

##### Concatenating Two Lists

In [62]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
names = ['Max', 'sam', 'John', ['Sally', 'Sue', 'Taneka']]
print(names)
print(names[3][1])

##### Looping Through Lists

In [64]:
for i in range(len(names)):
    print(names[i])

for i in names:
    print(i)

Max
sam
John
['Sally', 'Sue', 'Taneka']
Max
sam
John
['Sally', 'Sue', 'Taneka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range(1000):
    if (i**3) <= 1000:
        print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 100 + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [72]:
user_age = int(input("What is your age? "))

if user_age < 18:
    print('Kids')
elif user_age >= 18 and user_age <= 65:
    print("Adult")
else:
    print("Senior")

Senior